/[[:digit:]][[:digit:]][[:digit:]][[:digit:]]*/
/conf/pre.d/
/conf/rsh
/conf/ssh/
/conf/*-base
/conf/*-config
/conf/*-config.d/
/conf/*-formats
/conf/*-host
/conf/*-list
/conf/*-list.d/
/conf/*-module
/conf/*-port
/conf/*-prefix
/conf/*-user
/latest
/tmp/
